{% extends "Drug/Daroo/base.html" %}

{% block content %}
		<ol class="breadcrumb breadcrumb-2">
			<li><a href="index.html"><i class="fa fa-home"></i> خانه</a></li>
			<li><a href="login.html">صفحات مختلف</a></li>
			<li class="active"><strong> صفحه خالی</strong></li>
		</ol>
		<div class="row">
			<div class="col-lg-12">
				<p>محتوی صفحه</p>
			</div>
		</div>
		<br><br><br><br><br>

		<!-- Footer -->
		<footer class="animatedParent animateOnce z-index-10">
			<div class="footer-main animated fadeInUp slow go">© 2018 <strong>Mojtaba</strong> کپی رایت <a target="_blank" href="#/">مجتبی</a></div>
		</footer>
		<!-- /footer -->
{% endblock %}

